:root {
    --primary-color: #e50914;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #fff;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.bolded {
    font-weight: bold;
    font-family: 'Arial Black';
    font-size: 20px;
}

.promotion {
    width: 100%;
    height: 8.7vh;
    background-color: #fff;
    color: #000;
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-bottom-width: 18px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.promotion .new {
    font-family: 'Arial Black';
    font-size: 12px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion h1,
h2,
h3,
h4,
a {
    color: #000;
}

.promotion p {
    font-size: 18px;
}

.btn-promo {
    color: blue;
}

.div1 {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: rgb(49, 49, 49);
    border-bottom-width: 8px;
    position: relative;
    background: url("/assets/images/background.jpg") no-repeat center center/cover;
}

.div1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
}

.div2,
.div3,
.div4,
.div5, 
.div6 {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: rgb(49, 49, 49);
    border-bottom-width: 8px;
}

.navbar {
    position: relative;
    height: 90px;
    z-index: 2;
}

.navbar img {
    width: 210px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translatey(-50%);
}

.navbar select {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border-color: #fff;
    border-radius: 2px;
    text-align: right;
    width: 5.65rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    right: 175px;
    transform: translateY(-50%);
}

.navbar i {
    position: absolute;
    top: 42%;
    right: 267px;
}

.navbar a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    right: 56px;
    transform: translateY(-50%);
}

.btn {
    color: #fff;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    opacity: .9;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px auto;
    width: 500px;
    z-index: 2;
}

.content h1 {
    margin-top: .5rem;
    font-size: 62px;
    margin-bottom: 1.5rem;
}

.content h2 {
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: 24px;
}

.content p {
    margin-bottom: 1rem;
    font-size: 18px;
}

.form-submit {
    display: flex;
    height: 70px;
}

.email::placeholder {
    opacity: 0;
}

input:focus~.floating-label,
input:not(:focus):valid~.floating-label,
input:not(:placeholder-shown)~.floating-label {
    transform: translate(10px, -60px);
    font-size: 12px;
    opacity: 1;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.email:focus {
    border-style: solid;
    border-color: blue;
    border-width: .5px;
}

.email-container {
    position: relative;
    height: 100%;
}

.email {
    padding-inline-start: 10px;
    padding-top: 10px;
    height: 100%;
    width: 500px;
}

.input:focus {
    border-color: blue;
}

.floating-label {
    color: #999;
    font-size: 20px;
    position: absolute;
    transform: translate(10px, -46px);
    pointer-events: none;
    transition: 0.2s ease all;
}

.btn-lrg {
    width: 250px;
    font-size: 29px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.chevron {
    font-size: 22px;
    transform: translate(40%, -1%);
}

.media-div {
    padding: 70px 40px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

.text-container {
    text-align: start;
    width: 530px;
}

.media-container {
    position: relative;
    height: auto;
    max-width: 100%;
}

.div3 .media-container {
    margin-right: 80px;
}

.h-text {
    font-size: 48px;
}

.p-text {
    font-size: 26px;

}

.div2-vid {
    z-index: -1;
    width: 100%;
    height: 100%;
    max-height: 54%;
    max-width: 73%;
    position: absolute;
    top: 46%;
    transform: translate(17.7%, -50%);
}

.div3-vid {
    z-index: -1;
    width: 100%;
    height: 100%;
    max-height: 47%;
    max-width: 63%;
    position: absolute;
    top: 34%;
    transform: translate(-130%, -50%);
}

.reverse {
    flex-direction: row-reverse;
}

.div4-text-cont {
    width: 550px;
}

.div-images {
    width: 100%;
}

.phone-img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.downloading-div {
    position: absolute;
    bottom: 8%;
    left: 50%;
    
    transform: translateX(-50%);
    border-style: solid;
    border-color: rgb(71, 71, 71);
    border-radius: 10px;
    border-width: 2px;
    background-color: #000;
    display: flex;
}

.cover {
    width: 60px;
    margin: 8px;
}

.text-holder {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    margin-left: 8px;
}

.text-holder h3 {
    color: white;
    font-size: 16px;
}

.text-holder p {
    color: rgb(100, 100, 253);
    font-size: 14px;
    margin-top: 0;
}

.circle {
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: 50%;
    margin-left: 50px;
}

.div6 a {
    color: white;
}

.div6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.qs {
    margin-bottom: 80px;
}

.questions {
    display: flex;
    flex-direction: column;
}

.parent {
    display: flex;
    flex-direction: column;
    margin: 4px 100px;
    max-width: 820px;
}

.parent p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.top {
    font-size: 25px;
    padding-left: 25px;
    background: rgb(49, 49, 49);
    color: #fff;
    margin-bottom: 1px;
    position: relative;
    cursor: pointer;

}

.symbol {
    position: absolute;
    right: 25px;
    top: 17px;
    font-size: 40px;
    transition: transform 0.5s;
}

.bottom {
    background: rgb(49, 49, 49);
    color: #fff;
    padding-left: 25px;
    font-size: 25px;
}

.hide {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(.5,0,.1,1);
}

.show {
    max-height: 400px;
    transition: max-height 0.25s cubic-bezier(.5,0,.1,1);
}

.rotate {
    transform: rotate(45deg);
}

.cont2 {
    margin: 50px;
}

.div7 {
    min-width: 600px;
    margin: 100px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.head {
    margin-bottom: 20px;
    margin-left: 10px;
    width: 100%;
}

.flex-parent {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    max-width: 950px;
}

.flex-child {
    width: 200px;
    margin: 10px;
}

.div7 a{
    color: rgb(97, 97, 97);
    font-size: 13px;
}
.div7 p {
    color: rgb(97, 97, 97);
    font-size: 14px;
}

@media screen and (max-width: 1450px) {
    .navbar img {
        width: 170px;
    }

    .div1 h1 {
        font-size: 49px;
    }

    .form-submit {
        height: 60px;
    }

    .email {
        width: 400px;
    }

    .floating-label {
        top: 67px;
        font-size: 16px;
    }

    .btn-lrg {
        width: 200px;
        font-size: 24px;
    }
}

@media screen and (max-width: 950px) {
    .form-submit {
        flex-direction: column;
        align-items: center;
    }

    .email {
        height: 60px;
        width: 500px;
    }

    .btn-lrg {
        margin-top: 15px;
        font-size: 16px;
        width: 140px;
        height: 40px;
        border-radius: 3px;
    }

    .chevron {
        font-size: 16px;
    }

    .container {
        flex-direction: column;
    }

    .content p {
        font-size: 22px;
    }

    .text-container {
        text-align: center;
    }

    .parent {
        margin: 5px 10%;
    }

    .div6 .form-submit {
        margin-bottom: 80px;
    }

    .h-text {
        font-size: 40px;
        text-align: center;
        margin: 0px 8%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 740px) {
    .content p {
        font-size: 18px;
    }

    .floating-label {
        top: 63px;
        font-size: 14px;
    }

    .email {
        height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .div1 h1 {
        font-size: 28px;
    }

    .div1 h2 {
        font-size: 20px;;
    }
}
